body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.principal {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;

}

.cont {
    background-color: lightgray;
    width: 100%;
}

.text {
    color: black;
    padding-left: 20px;
}

.text h1 {
    font-size: 2em;
}

.search-input {
    border-radius: 5px;
    width: 20%;
    color: gray;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.nav-link {
    background-color: transparent;
    padding: 15px 25px;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0px;
}

.nav-link:hover {
    background-color: blue;
    color: white;
}

.user-icon {
    position: relative;
    cursor: pointer;
}

.toggle-options {
    display: none;
}

.opciones {
    position: absolute;
    right: 28%;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.toggle-options:checked~.opciones {
    visibility: visible;
    opacity: 1;
}

.opciones button {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

.boton {
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100%;
    padding: 12px 42px;
}

.boton:hover {
    background-color: gray;
}

.informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.informacion h1 {
    color: gray;
    text-align: center;
    margin-bottom: 0;
}

.informacion p {
    text-align: center;
    color: lightgray;
    margin-top: 0;
}

.table,
th,
td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.table {
    border: 1px solid lightgray;
    /* Borde para la tabla */
    border-collapse: collapse;
    /* Colapsar los bordes de las celdas */
    border-spacing: 100%;
    /* Espacio entre las celdas (puedes ajustarlo según tu diseño) */
    width: 100%;
    margin-left: 1%;
}

.th,
td {
    padding: 10px;
    text-align: center;
}

.th {
    background-color: lightgray;
    text-align: center;
}

.td img {
    vertical-align: middle;
    margin-right: 5px;
}

.link {
    text-decoration: none;
    color: gray;
}

.link:hover {
    color: gray;
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.p1 {
    color: lightgray;
}
/* Media Queries para dispositivos específicos */

/* iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .text h1 {
        font-size: 2.5em;
    }
  
    .informacion h1 {
        font-size: 24px;
    }
  
    .sign .btn-sign {
        width: 20%;
    }
  }
  
  /* iPhone 14 */
  @media only screen and (min-device-width: 390px) and (max-device-width: 844px) {
    .principal, .informacion, .sign {
        flex-direction: column;
        padding: 10px;
    }
  
    .text {
        padding-left: 10px;
    }
  
    .text h1 {
        font-size: 1.5em;
    }
  
    .informacion h1 {
        font-size: 18px;
    }
  
    .sign .btn-sign {
        width: 80%;
    }
  
    .input-container {
        flex-direction: column;
    }
  
    .input-group {
        width: 100%;
        margin-right: 0;
    }
  
    .register-wrapper {
        flex-direction: column;
    }
}

.footer {
    background-color: lightgray;
    color: gray;
    padding: 10px;
    text-align: center;
    position: block;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    max-width: 20px;
    height: auto;
    margin-right: 10px;
}