body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.principal {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    
}
.text {
    color: black;
    padding-left: 20px;
}

.text h1 {
    font-size: 2em;
}
.search-input{
    border-radius: 5px;
    width: 20%;
    color: gray;
}
.textos{
    color:gray;
    text-align: center;
}
.line{
    color: gray;
    text-align: center;
}
.imagen img {
    max-width: 100%;
    height: auto;
}
.cont{
    background-color: lightgray;
    width: 100%;
}
.dep, .arr, .day{
    margin-bottom: 10px;
    
}
.nav-link {
    background-color: transparent;
    padding: 15px 25px;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0px;
}
.ride{
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;

}
.inp{
    padding: 11px;
    width: 145.5%;
    margin-top: 20px;
}
.sa{
    text-align: center;
}
.sea{
    display: flex;
    justify-content: center;
    margin-left: 40%;
}
.sea, .fee{
    padding: 5px;
    border: 1px solid black;
    width: 59%;
}
.time{
    padding: 5px;
    border: 1px solid lightgray;
    width: 180%;
    justify-content: flex-start;
}
.inpT{
    padding: 8px;
    border: 1px solid lightgray;
    width: 20%;
}
.model{
    padding: 8px;
    border: 1px solid black;
    width: 26.5%;
}
.year{
    padding: 8px;
    border: 1px solid black;
    width: 13.5%;
}
.nav-link:hover {
    background-color: blue;
    color: white;
}
fieldset{
    border: 0;
    padding: 10px;
    margin-top: 20px;
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between;
}
.informacion{
    border: 1px solid lightgray;
    margin: 20px;
    padding: 44px;
    width: 100%;
    margin-bottom: 20px;
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between;
}
.link {
    text-decoration: none;
    color: gray;
}

.link:hover {
    color: gray;
}
.input-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.botones{
    border: 0;
    padding: 10px;
    margin-top: 20px;
    margin: 20%;
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between;
}
.nva{
    color:blue;
    cursor: pointer;
}
.nva:hover{
    color: blue;
}
.nvs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    width: 23.5%;
    cursor: pointer;

}
.p1{
    color: lightgray;
}
.v{
    margin-left: 3%;
}
.footer {
    background-color: lightgray;
    color: gray;
    padding: 10px;
    text-align: center;
    position: block;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    max-width: 20px;
    height: auto;
    margin-right: 10px;
}