body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.principal {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    
}
.text {
    color: black;
    padding-left: 20px;
}

.text h1 {
    font-size: 2em;
}
.search-input{
    border-radius: 5px;
    width: 20%;
    color: gray;
}
.textos{
    color:gray;
    text-align: center;
}
.line{
    color: gray;
    text-align: center;
}
.imagen img {
    max-width: 100%;
    height: auto;
}
.dep, .arr, .day{
    margin-bottom: 10px;
}
.day{
    text-align: left;
    margin-left: 5%;
}
.nav-link {
    background-color: transparent;
    padding: 15px 25px;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0px;
}
.ride{
    margin: 28%;
    margin-top: 10px;
}
.row{
    display: flex;
    justify-content: center;
    text-align: center;
}
.cont{
    background-color: lightgray;
}
.user-icon {
    position: relative;
    cursor: pointer;
}

.toggle-options {
    display: none;
}

.opciones {
    position: absolute;
    right: 27.7%;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.toggle-options:checked ~ .opciones {
    visibility: visible;
    opacity: 1;
}

.opciones button {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}
.boton{
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100%;
    padding: 12px 42px;
}
.boton:hover{
    background-color: gray;
}
.time{
    border: 1px solid lightgray;
    width: 165%;
    padding: 10px;
}
.inp{
    padding: 12px;
    width: 147%;
    margin-top: 20px;
}
.sa{
    text-align: center;
    margin-left: 75%;
}
.sea{
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    width: 59%;
    margin-left: 75%;

}
.fee{
    padding: 5px;
    border: 1px solid black;
    width: 52%;
    margin-left: 100%;

}

.fe{
    margin-left: 100%;
}

.inpT{
    padding: 5px;
    border: 1px solid lightgray;
    width: 158%;
    margin-right: 10px;
}
.models, .years,.model,.year{
    margin-left: 60%;
    margin-right: 50%;
}
.models,.model{
    align-content: center;
}
.year,.years{
    align-content: right;
}
.model{
    padding: 5px;
    border: 1px solid black;
    width: 94%;
    margin-right: 10px;
}
.year{
    padding: 5px;
    border: 1px solid black;
    width: 107%;
    margin-left: 150%;
}
.years{
    margin-left: 150%;
}
.nav-link:hover {
    background-color: blue;
    color: white;
}

.input-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-bottom: 15px; 
    margin-left: 5%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}
.informacion{
    border: 1px solid lightgray;
    margin: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 108%;
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between;
    margin-left: 5%;
}
.link {
    text-decoration: none;
    color: gray;
}

.link:hover {
    color: gray;
}
.M, .T, .W, .Th, .F, .S, .Su {
    margin-right: 5px; /* Espacio entre los checkboxes */
    margin-top: 5px;
    margin-bottom: 5px;
}
.botones{
    display: flex;
    align-items: center; 
}
.nva{
    color:blue;
    margin-left:5%;
    cursor: pointer;
}
.nva:hover{
    color: blue;
}
.nvs{
    display: row;
    justify-content: center;
    width: 34%;
    margin-left: 90.5%;
    align-items: center;
    text-align: center;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;

}
.line{
    color: lightgray;
}
.V{
    text-align: left;
    margin-left:5%;
}
.p1{
    color: lightgray;
}
/* Media Queries para dispositivos específicos */

/* iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .text h1 {
        font-size: 2.5em;
    }
  
    .informacion h1 {
        font-size: 24px;
    }
  
    .sign .btn-sign {
        width: 20%;
    }
  }
  
  /* iPhone 14 */
  @media only screen and (min-device-width: 390px) and (max-device-width: 844px) {
    .principal, .informacion, .sign {
        flex-direction: column;
        padding: 10px;
    }
  
    .text {
        padding-left: 10px;
    }
  
    .text h1 {
        font-size: 1.5em;
    }
  
    .informacion h1 {
        font-size: 18px;
    }
  
    .sign .btn-sign {
        width: 80%;
    }
  
    .input-container {
        flex-direction: column;
    }
  
    .input-group {
        width: 100%;
        margin-right: 0;
    }
  
    .register-wrapper {
        flex-direction: column;
    }
}
.footer {
    background-color: lightgray;
    color: gray;
    padding: 10px;
    text-align: center;
    position: block;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    max-width: 20px;
    height: auto;
    margin-right: 10px;
}